* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Putting th header logo on the left */
header{
    padding: 20px;
    background-color: #bf764c;
    color: beige;
}

header h1{
    display: inline-block;
    font-size: 48px;
}

/* This is my nav bar */

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 2rem;
    background-color: #bf764c;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end
}

nav ul li {
    padding: 0.5rem;
    margin: 3px;
    
}

nav ul li a:hover {
    background-color: #30525b;
    color: white;

}

nav ul li a{ 
    text-decoration: none;
    color: beige;
}

span {
    color: #30525b;
}

span:hover{
    color: beige;
}

/* Added a media to view nav on other screens and devices*/
@media all and (max-width: 400px) {
    nav ul{
        flex-direction: column;
    }
    nav ul li {
        text-align: center;
    }
    
}

/* Styling About Me/Hero Section */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 2%;
    border-style: solid;
    border-color: #bf764c;


}

.novia-img{
    display: flex;
    justify-content: flex-end;
    height: 400px;
    width: 300px;
    border-radius: 120px;
    margin-bottom: 200px;
   margin-top: 50px;
   
}

.hero-img {
    border-radius: 50px;
    padding: 20px;
    
    
}

.me{
    position: relative;
    bottom: 130px;
    border-radius: 120px;
    background-color: #bf764c;
    padding: 20px;
    height: 400px;
    width: 300px;
   
 }
 
 .me-p{
     background-color: #bf764c; 
     border-radius: 120px;
     padding: 20px;
 
 }
 
 .me-h2 {
     
     padding: 20px;
 }

.about-title {
    margin: 1%;
}

/* About Me Section */

.about-me-p {
    font-size: 24px;
}


/* Syling my main content here */

.content {
    width: 95%;
    display: inline-block;
    margin-left: 2%;
    border-style: solid; 
    border-color: #bf764c;
    
}

.about-me, .portfolio, .contact {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #30525b;
    color: beige;
    border-radius: 50px;

}

/* Porfolio section */

#porfolio {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}


.portfolio {
    height: 70vh;
}

.about-me h2, .portfolio h2, .contact h2 {
    margin-bottom: 20px;
    font-size: 36px;

}

#code-refractor-img {
    display: flex;
    justify-content: flex-end;
    height: 500px;
    width: 400px;
    border-radius: 120px;
    margin-bottom: 100px;
   
}


.project{
    width: 50%;
    display: flex;
    flex-direction: row;
    margin:20px;
    
}

.subject, .mini-project, .pre-work{
    font-size: 24px;
    color: beige;
    text-decoration: none;
}

.code-refractor-img {
    display: flex;
    justify-content: flex-end;
    height: 500px;
    width: 400px;
    border-radius: 120px;
    margin-bottom: 100px;
   
}

.mini-project-img, .pre-work-img {
    display: flex;
    justify-content: flex-end;
    height: 400px;
    width: 300px;
    border-radius: 100px;
    margin-bottom: 100px;
}


/* Contact Section */

.container {
    font-size: 24px;
}






@media only screen and (max-width: 600px) {
    nav {
      width: 100%;
    }

    nav ul li {
        width: 100%;

    }

    .hero {
        flex-wrap: wrap;
    }
    .hero-img {
        width: 100%;
    }
  }
  header {
      display: flex;
      flex-direction: column;
  }

.project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100;
}





  
