nav {
    font-size: 2rem;
    background-color: #bf764c;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end
}

nav ul li {
    padding: 0.5rem;
    margin: 3px;
    
}

nav ul li a:hover {
    background-color: #30525b;
    color: white;

}

nav ul li a{ 
    text-decoration: none;
    color: beige;
}

span {
    color: #30525b;
}

span:hover{
    color: beige;
}

/* Added a media to view nav on other screens and devices*/
@media all and (max-width: 400px) {
    nav ul{
        flex-direction: column;
    }
    nav ul li {
        text-align: center;
    }
    
}